
.main-container {
    display: flex;
    width: 100%;
    align-items: flex-start;
    min-height: 100vh; 
    padding-top: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.filters-container {
    flex: 1;
    margin-right: 3em;
    padding: 1em;
    max-width: 15%;
}

.products-container {
    flex: 1;
    max-width: 80%; 
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  /* Ajustes adicionales para cada contenedor en pantallas más pequeñas si es necesario */
  .filters-container {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
    justify-content: space-evenly;
  }

  .products-container {
    width: 100%;
    margin-bottom: 10px;
  }
}